@import reset
@import common



.main-header
  position: fixed
  width: 100%
  left: 0
  top: 0
  z-index: 100
  > .container 
    @extend %clearfix
    width: 100%
    padding-top: 45px
    padding-bottom: 10px
    padding-left: 10%
    padding-right: 10%
  .logo
    @extend %clearfix
    float: left
    width: 190px

  .header-navbar 
    @extend %clearfix
    float: right
    padding-left: 10%
    width: calc(100% - 190px)

    ul  
      @extend %clearfix
      float: right
    li 
      display: inline-block
      font-size: 0
      padding-left: 20px
      padding-right: 20px
      line-height: 32px
    a 
      display: block
      text-align: center
      color: #fff
      font-size: 18px
      letter-spacing: 1px

.main-slider 
  .pic  
    position: relative
    &::after 
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(#000, .7)